{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "eslint-plugin-prettier",
    "react-perf",
    "prettier",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "react-app",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:react-redux/all",
    "plugin:react-perf/all",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "prettier/prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      2,
      {
        "bracketSameLine": true,
        "arrowParens": "avoid",
        "singleAttributePerLine": true,
        "parser": "typescript"
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "no-console": 0,
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "@typescript-eslint/no-floating-promises": [0],
    "react/require-default-props": [0],
    "@typescript-eslint/no-throw-literal": [0],
    "@typescript-eslint/naming-convention": [0],
    "@typescript-eslint/consistent-type-definitions": [2, "type"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "root": true
}
