.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
div.mb-0 {
  margin-bottom: 0 !important;
}
html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #606c88, #3f4c6b);
}
.dropdown-menu.show {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}
svg.hover-inverse {
  /* width: 50px; */
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(var(--bs-warning-rgb), var(--bs-bg-opacity));
  color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity));
}
div.c-overflow-x-hidden {
  overflow-x: hidden !important;
}
input.custom-shadow {
  box-shadow: 0 0.5rem 0.625rem -0.25rem black !important;
}
svg.hover-inverse:hover {
  color: none;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity));
}
.accordion-button:not(.collapsed) {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.accordion-button {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230dcaf0'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* .accordion-button:not(.collapsed) {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}
.accordion-button {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230dcaf0'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
} */
