:root {
  --custom-green: hsl(152, 100%, 63%);
  --custom-green-rgb: 66, 255, 167;
  --clr-neon: hsl(152, 100%, 63%);
  --clr-bg: hsl(222, 17%, 45%);
  --light-bg: 230, 241, 252;
}

.App {
  text-align: center;
  /* color: ; */
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

div.mb-0 {
  margin-bottom: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.App {
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
}

.App.custom-dark-mode {
  background: linear-gradient(to right, #606c88, #3f4c6b);
}

.App.custom-light-mode {
  background-color: rgb(var(--light-bg)) !important;
  /* background: linear-gradient(to right, #f7f4f4, #cbc6c6); */
}

.dropdown-menu.show {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

svg.hover-inverse {
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(var(--bs-warning-rgb));
  color: rgba(var(--bs-warning-rgb));
}

svg.hover-inverse:hover {
  background-color: rgba(var(--bs-warning-rgb));
}

div.c-overflow-x-hidden {
  overflow-x: hidden;
}

input.custom-shadow {
  box-shadow: 0 0.5rem 2rem -0.5rem black !important;
}

.custom-shadow {
  box-shadow: 0 0.5rem 2rem -0.5rem black !important;
}

.accordion-button.custom-dark-mode:not(.collapsed) {
  background-color: rgba(var(--bs-info-rgb));
  color: rgba(var(--bs-white-rgb));
}

.accordion-button.custom-dark-mode {
  background-color: rgba(var(--bs-dark-rgb));
  color: rgba(var(--bs-info-rgb));
}

.accordion-button.custom-dark-mode:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button.custom-dark-mode::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230dcaf0'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button.custom-dark-mode:focus {
  border-color: rgba(var(--bs-info-rgb));
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-info-rgb));
}

div.offcanvas.offcanvas-start.show {
  resize: horizontal;
  overflow: auto;
}

div.offcanvas-body div.dropdown-menu.show {
  max-height: max-content;
}

.form-control.c-bg {
  background-color: rgba(0, 0, 0, 0.3);
}

.c-bg {
  background-color: rgba(0, 0, 0, 0.3);
}

.form-control.c-bg:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.custom-bg-color {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.custom-bg-color-2 {
  background: linear-gradient(to right, #485563, #29323c);
}

.cursor-pointer {
  cursor: pointer;
}

input.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.form-check-input.custom-checkbox-bg:checked {
  background-color: #3dd5f3;
  border-color: #3dd5f3;
}

.neon-button {
  font-size: 1rem;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em currentColor;
  box-shadow:
    inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
  position: relative;
  z-index: 1;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

@media (max-width: 576px) {
  .d-xs-none {
    display: none;
  }
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before,
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.custom-text-shadow-white {
  text-shadow: 0 0 0.25em currentColor;
}

.custom-text-shadow-white-50 {
  text-shadow: 0 0 0.125em currentColor;
}

.sidebar-col {
  margin-top: 40px;
}

.sidebar-container {
  height: calc(100vh - 40px);
  top: 40px;
}

div.menu-list {
  max-height: calc(100vh - 54px);
}

div.paper {
  width: 250;
}

div.loading-spinner {
  width: 10rem;
  height: 10rem;
  border-width: 1rem;
}

img.barcode-image {
  aspect-ratio: 156 / 112;
}

.mw-75 {
  max-width: 75%;
}

.minw-180 {
  min-width: 180px;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.text-none {
  text-transform: none !important;
}
